<div class="mt-25">
  <div class="ui raised very padded text container segment">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <h2 class="ui teal header">
          <div class="content">
            Create an account
          </div>
        </h2>
        <%= form_with(model: @user, html: { class: "ui large form", role: "form" }, local: true)  do |f| %>
          <div class="ui segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <%= f.text_field :username, placeholder: "Username" %>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= f.password_field :password, placeholder: "Password" %>
              </div>
            </div>
            <%= f.button "Sign Up", class: "ui fluid large teal submit button" %>
          </div>
          <div class="ui error message"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>